html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #d0d0d0;

}

.form-inline .form-control {
    display: inline-block;
    width: 300px;
    margin: 10px;
    margin-right: 0px;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}

.form-inline {
    display: block;
    height: 119%;
}

.form-inline label {
    justify-content: left;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 1rem;
    display: block;
    margin: 0 auto;
    width: 60%;
}

#radios {
    display: inline-block;
    height: 50px;
    margin: auto auto;
    overflow-y: hidden;
}

#radios td {
    padding: 10px 50px;
}

.butt {
    background-color: #3ab5a4;
    color: white;
    width: 200;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.form-butt {
    margin: 0 auto;
}

.butt:hover {
    background: #333333;
}

#adduser {
    display: block;
    margin: 0 auto;
}

.table_container {
    margin: 0 auto;
    width: 1000px;
    height: 850px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#form-control input-md {
    float: right;
}

.labels {
    width: 250px;
    text-align: left;
}

.tg {
    width: 300px;
    height: auto;
    float: right;
    overflow-y: hidden;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    justify-content: center;
}

.tg-buh4 {
    width: 100px;

}
